<header class="inner">
  <h1 id="project_title">Mark Ren</h1>
  <div class="socialicons">
    <a title="Github" href="https://github.com/markusrenoldner">
      <i class="fa fa-github" aria-hidden="true"></i>
    </a>
    <a title="Google Scholar" href="https://scholar.google.com/citations?user=123333333">
      <i class="fa fa-google" aria-hidden="true"></i>
    </a>
    <a title="Hello" href="https://google.com">
      <i class="fa fa-comment" aria-hidden="true"></i>
    </a>
  </div>
  {% include nav.html %}
</header>